.figure-container {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.row {
    display: flex;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}